#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  max-width: 600px;
  margin: 0 auto; */
}

.search {
  /* align-self: stretch; */
}

.chatList {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  max-width: 600px;
  margin: 0 auto; */
}

.chatItem {
  /* align-self:stretch;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap; */
  height: 4rem;
}


div.icon {
  display:inline-block;
  height: 100%;
  /* width: 4rem; */
}

.heading {
  display:inline-block;
  /* align-self:stretch; */
  height: 50%;
}
.subheading {
  /* display:inline-block; */
  height: 50%;
}

